hr.footer-divider

.terms.text-right
    .terms-body
        ul.nav
            li.nav-item
                a.nav-link.active(href='#') 이용약관
            li.nav-item
                a.nav-link.active(href='#') 개인정보처리방침
            li.nav-item
                p.nav-link.active 버전 정보 : v1.0 
                

.footer(class='text-center')
    p 2019 Hanium : 정지우, 최리안, 최은지
    p E-mail : leeeeean91@gmail.com
    p 02-2132-0712~7
    p Copyright © 2019 HANIUM. All Rights Reserved.
