//.header
    h1.mainTitle BIANA
.header-title
    img.header-png(src="https://engineering.stanford.edu/sites/default/files/styles/banner-850x400/public/soe_block_v1.png?itok=Hs2zWiki", alt="로고이미지")
    h1.mainTitle B I A N A