.navBar
    nav.navbar.navbar-expand-lg.navbar-dark
        a.navbar-brand(href="#") BIANA
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="#")
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="/registers/registerDetail")
                        | 자산등록
                li.nav-item
                    a.nav-link(href="/investments/investmentsList")
                        | 투자
                if user.evaluator
                    li.nav-item
                        a.nav-link(href="/estimations/estimationsList")
                            | 평가리스트
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') Action1
                        a.dropdown-item(href='#') Action2
                        a.dropdown-item(href='#') Action3
                        .dropdown-divider
                        a.dropdown-item(href='#') Something else here
            .mypageDropdown.dropdown
                //- img.nav-link.mypageImg(src="/images/mypageImg.svg", alt="mypageImg", )
                a#mypageDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{user.name}님
                .dropdown-menu(aria-labelledby='mypageDropdown')
                    a.dropdown-item(href='/users/mypage') 마이페이지
                    .dropdown-divider
                    a.dropdown-item(href='#') 내 정보 수정
                    .dropdown-divider
                    a.dropdown-item(href='/users/logout') 로그아웃

            //- nav.navbar.navbar-expand-lg.navbar-dark
            //-     ul.navbar-nav.mr-auto
            //-     li.nav-item.active
            //-         a.nav-link(href="#")
            //-             | Home
            //-             span.sr-only (current)
            //-     li.nav-item
            //-         a.nav-link(href="#")
            //-             | 자산등록
            //-     li.nav-item
            //-         a.nav-link(href="#")
            //-             | 투자
            //-     if user.evaluator
            //-         li.nav-item
            //-             a.nav-link(href="#")
            //-                 | 평가리스트
            //-     li.nav-item.dropdown
            //-         a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            //-             | Dropdown
            //-         .dropdown-menu(aria-labelledby='navbarDropdown')
            //-             a.dropdown-item(href='#') Action1
            //-             a.dropdown-item(href='#') Action2
            //-             a.dropdown-item(href='#') Action3
            //-             .dropdown-divider
            //-             a.dropdown-item(href='#') Something else here



    //- form.form-inline.my-2.my-lg-0
    //-   input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
    //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
