extends layout

block content
    .main-content
        .mainPrice
            .row.price
                .col.price
                    h3.price 블록체인 시세
                    .chart-list
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 시장 가격
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 누적 채굴량
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 거래 규모
                    
                    br
                    br
                    br
                    br

                    .chart-list
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 일당 거래의 총 수  
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 고유 주소 
                        .chart
                            img.price(src='/images/blockchainGraph.png' alt='graph')
                            h5.price 거래 비율

        .menu.row.justify-content-between
            .invest-list.col-7
                h5.price 투자 내역 리스트
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') First
                            th(scope='col') Last
                            th(scope='col') Handle
                    tbody
                        tr
                            th(scope='row') 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            th(scope='row') 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            th(scope='row') 3
                            td Larry
                            td the Bird
                            td @twitter
                        tr
                            th(scope='row') 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            th(scope='row') 2
                            td Jacob
                            td Thornton
                            td @fat
                        tr
                            th(scope='row') 3
                            td Larry
                            td the Bird
                            td @twitter
            .my-asset.col-4
                .asset-label-row
                    h5 
                        span #{user.name}
                        |  님의 자산현황
                .asset-row
                    //- span.fa.fa-arrow-up.fa-3x
                    h6 보유 자산 : #{asset.asset}
                .asset-row
                    //- i.fa-hand-holding-usd.fa-2x
                    //- i.fa.fa-arrow-up.fa-3x 
                    h6 보유 토큰 : #{asset.token}
                .asset-btn-row
                    button.btn.btn-secondary.token 토큰 사용 내역
                    button.btn.btn-secondary.token 토큰 변환
                    

