extends layout

block content
    .container
        h2.title Mypage
        br
        br
        br
        .form-group
            label ID
            p2=user.id
        .form-group
            label NAME
            p2=user.name
        .form-group
            label EMAIL
            p2=user.email
        .form-group
            label PHONE
            p2=user.phone
        br
        br
        