extends layout

block content
    .container
        h2.title Mypage
        br
        br
        br

        .form-group
            label(for='id') ID
            p2=user.id
        .form-group
            label(for='name') NAME
            p2=user.name
        .form-group
            label(for='email') EMAIL
            p2=user.email
        .form-group
            label(for='phone') PHONE
            p2=user.phone
            br
            br

        a.nav-link.active(href='/users/mypage_ch') 내 정보 수정